.search-bar-container{ 
    width: 80%;
    height: auto;
    background-color: #2A85FF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 1rem;
    flex-direction: column;
    padding: 2rem 2rem;
    box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.2);
}

.search-bar-container b{ 
    color: #fff;
    margin: 0;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

.search-bar-container p{ 
    color: #fff;
    margin: 0;
    font-family: "poppins", sans-serif;
    font-weight: 300;
    font-size: 0.85rem;
    margin-bottom: 1rem;
}

.search-bar-area{ 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar-input-area{ 
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0px;
}

.search-bar-input-area input{ 
    border: none;
    width: 70%;
    font-family: "poppins", sans-serif;
}

.search-bar-input-area input:focus { 
    outline: none;
}

.search-bar-input-area button{ 
    width: 6rem;
    height: 2rem;
    background-color: #4e00f7;
    border-radius: 0.3rem;
    color: #fff;
    border: none;
    font-family: "poppins", sans-serif;
    transition: 0.1s ease-in-out;

}

.search-bar-input-area button:hover{ 
    background-color: #2A85FF;
}

.search-category-select-area { 
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
}

.search-category-select-area select{ 
    width: auto;
    height: 2rem;
    background-color: #ffffff;
    border-radius: 0.3rem;
    color: #636363;
    border: none;
    font-family: "poppins", sans-serif;
    transition: 0.1s ease-in-out;
}

@media screen and (max-width: 425px){ 
        .search-bar-container { 
    padding: 1.5rem;
        }

        .search-bar-container b{ 
    font-size: 1.1rem;
    font-weight: 500;
        }

        .search-bar-container p{ 
            font-size: 0.75rem;
                }

                .search-bar-input-area button { 
                    width: auto;
                }

    .search-bar-input-area { 
        padding: 5px;
    }

    .search-category-select-area { 
        width: 100%;
    }

    .search-category-select-area select { 
        height: auto;
        padding: 5px;
    }
}